title MDevelopment, Martin Johannesson's portfolio
meta(name="description" content="A portfolio and resume of a young talented software developer.")
link(rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon")
link(rel="icon" type="image/png" href="/media/favicon.ico" sizes="192x192")
link(rel="icon" type="image/png" href="/media/favicon.ico" sizes="160x160")
link(rel="icon" type="image/png" href="/media/favicon.ico" sizes="96x96")
link(rel="icon" type="image/png" href="/media/favicon.ico" sizes="16x16")
link(rel="icon" type="image/png" href="/media/favicon.ico" sizes="32x32")

meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

link(rel="stylesheet" media="screen and (min-device-width: 800px)" type="text/css" href='/styles/min/main.scss.min.css')
link(rel="stylesheet" media="screen and (max-device-width: 800px)" type="text/css" href='/styles/min/mobile.scss.min.css')
