img.background(src="/media/background-min.jpg")
div.row#navbar.grayout
  div.col-md-auto
    img.logo(src="/media/logo_square-min.png")
  div.col
    h1.text-center
      span Martin Johannesson
  div.col.text-center#buttonmenu
    a.btn.btn-link.btn-lg(href ="/") <
    a.btn.btn-link.btn-lg(href ="/pages?file=projects") _projects
    a.btn.btn-link.btn-lg(href ="/pages?file=readme") _readme
    a.btn.btn-link.btn-lg(href ="/pages?file=contact") _contact
    a.btn.btn-link.btn-lg(href="https://gitlab.com/mdev-dk/portfolio") _src
