html
  head
    include includes/header.pug
  body
    img.background(src="/media/background-min.jpg")
    div.container
      img.logo(src="/media/logo_square-min.png")
    div.container#top
      div#menu.grayout
        h1.text-center
          span Martin Johannesson
        div.text-center#buttonmenu
          a.btn.btn-link.btn-lg(href ="/pages?file=projects") _projects
          a.btn.btn-link.btn-lg(href ="/pages?file=readme") _readme
          a.btn.btn-link.btn-lg(href ="/pages?file=contact") _contact
          a.btn.btn-link.btn-lg(href="https://gitlab.com/mdev-dk/portfolio") _src

    div.container#content.hidden
