@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";

body {
  color: white;
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.logo {
  height: 100px;
  padding: 15px;
}

.grayout {
  background: rgba(0,0,0,0.66);
}

#buttonmenu a {
  color: white;
}

#navbar {
  h1 {
    margin-left: auto;
    padding-top: 25px;
    font-size: 26px;
  }
  #buttonmenu {
    padding-top: 25px;
    margin-left: auto;
  }
}

#top {
  h1 span {
    border:2px white solid;
    padding:5px 10px
  }

  #buttonmenu a {
    color: white;
  }

  div a.btn{
    padding: 10px 33px;
  }

  h1,
  #buttonmenu {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }

  #menu {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 50px 50px 30px 50px;
  }
}
