@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";

body {
  color: white;
}

.background {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}

img.logo {
  height: 100px;
  padding: 15px;
}

.grayout {
  background: rgba(0,0,0,0.66);
}

div#top {
  h1 span {
    border:2px white solid;
    padding:5px 10px
  }

  #buttonmenu a {
    color: white;
  }

  &.main {
    margin-top: 25%;
    div a.btn{
      padding: 10px 33px;
    }
    #bkbtn {
      display: none;
    }

    h1,
    #buttonmenu {
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
    }

    #menu {
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      padding: 50px 50px 30px 50px;
    }
  }
  &.bar {
    display: inherit;

    #menu {
      display: contents;
    }

    h1 {
      margin-left: auto;
      padding-top: 25px;
      font-size: 26px;
    }
    #buttonmenu {
      margin-left: auto;
    }
  }
}

div#content {
  &.hidden {
    display: none;
  }

  &.visible {

  }
}
